html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; color: #036da7 }

div#header{width:100%;overflow:hidden;background:#BBD9EE; }
div#header h1{width:770px;margin:0 auto;text-align:left}
div#menu{margin-left:200px;margin:0 auto;text-align:left}
div#header h1 span#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #fff}

div#header h1 span { color: black; font-size:50%; font-style: italic; padding-left: 20px; }
ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{float:right;font-size: 80%}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav a:hover{background: #fff;color: #000}
ul#nav li#activelink a,ul#nav li#activelink a:hover{background: #FFF;color: #003}

#right {
	float: left;
	width: 70%;
	padding: 1em;
	margin-bottom: 1.2em;
/*	background: #eee;
	text-align: justify; */
}

#left {
	float: right;
	width: 25%;
	margin: 0 0 5px 0;

}

#left .box {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
        -moz-border-radius: 2em;
        border-radius: 2em;
}

#left .box2 {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #bbd9ee;
        -moz-border-radius: 2em;
        border-radius: 2em;
}

#left .news {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #e84020;
        -moz-border-radius: 2em;
        border-radius: 2em;
}

#left .news b {
       color: black !important;
}

#content {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;


}


/* ul {  padding: 0; margin: 0;} */
li { list-style-type: none;}

div#footer{
  clear: both !important;
  font-size: 80%;
  border-bottom: 4px solid #bbd9ee;
  padding-right: 50px;
  padding: 5px 6px;
}

.terminal{
	font-family: Fixed, monospace;
	font-weight: normal;
	font-size: 100%;
}



/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

#underlinemenu{
margin: 0;
padding: 0;
}

#underlinemenu ul{
margin: 0;
margin-bottom: 1em;
padding-left: 0;
float: left;
font-weight: bold;
width: 100%;
border: 1px solid #DFDFDF;
border-width: 1px 0;
}

* html #underlinemenu ul{ /*IE only rule. Delete extra margin-bottom*/
margin-bottom: 0;
}

#underlinemenu ul li{
display: inline;
}


#underlinemenu ul li a{
float: left;
color: gray;
font-weight: bold;
padding: 2px 6px 4px 6px;
text-decoration: none;
background: white url(/images/menudivide.gif) top right repeat-y;
}

#underlinemenu ul li a:hover {
color: black;
background-color: #F3F3F3;
border-bottom: 4px solid #bbd9ee;
padding-bottom: 0;
}


#underlinemenu ul li#current a {
color: black;
background-color: #F3F3F3;
border-bottom: 4px solid #bbd9ee;
padding-bottom: 0;
}


pre {
border: 1px solid black;
background:	rgb(230,230,230);
overflow: auto;

}